// src/assets/styles/_variables.scss

// الألوان الرئيسية
$dark-primary: #300d13; // اللون البني الداكن / العنابي للخلفيات 
$dark-secondary: #7e2d35; // لون مكمل للتدرج
$light-text: #cdc8c8;   // لون النص الأساسي
$accent-color: #c4bc90;  
$button-bg: #2f0b10;    

// الخطوط (يفضل استخدام خط عربي مناسب مثل Almarai أو Tajawal)
$font-family-primary: 'Almarai', sans-serif;

// $font-family-primary: 'Tajawal', sans-serif; 

// القياسات الأساسية
$max-width: 1200px;


